.section2{
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 10rem;
    padding-top: 10rem;
}
.sec2-cat1 {
    display: flex;
    background-color: #4695CF26;
    width: 30%;
    border-radius: 1rem;
    justify-content: right;
    height: 20vh;
    padding: 1rem;
    position: relative;
}
.sec2-cot1-img {
    width: 45%;
    position: absolute;
    bottom: 0rem;
    right: 1rem;
}
.sec2-cot1-img img{
    width: 100%;
    object-fit: fill;
}
.sec2-cot-img {
    width: 55%;
    position: absolute;
    height: fit-content;
    display: flex;
    bottom: 0rem;
    left: 0rem;
}
.sec2-cot-img img{
    width: 65%;
}
.sec2-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2.2rem;
    width: 45%;
}
.sec2-cont h3 {
    font-weight: 500;
    font-size: 2.7rem;
}
.sec2-cont h4 {
    font-weight: 400;
}
.sec2-cont h5{
    background-color: #FCEBA3;
    width: fit-content;
    padding: 0.5rem;
    font-weight: 450;
    display: flex;
    cursor: pointer;
    gap: 3px;
    border-radius: 5px;
}
.sec2-cont h5 span{
  position: relative;
  top: 10%;
}
.sec2-cat2 {
    position: relative;
    display: flex;
    background-color: #DF88929E;
    width: 30%;
    border-radius: 1rem;
    justify-content: left;
    height: 20vh;
    flex-direction: row-reverse;
    padding: 1rem;
}
.sec2-cat3 {
    position: relative;
    display: flex;
    background-color: #2CA06E4D;
    width: 30%;
    border-radius: 1rem;
    justify-content: left;
    height: 20vh;
    flex-direction: row-reverse;
    padding: 1rem;
}


@media only  screen and (width<=600px) {
    .section2 {
        display: flex;
        justify-content: space-between;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 5rem;
        flex-direction: column;
        padding-top: 8rem;
        align-items: center;
        gap: 4rem;
    }
    .sec2-cat1 {
        width: 85%;
        height: 12vh;
    }
    .sec2-cot-img {
        width: 45%;
    }
    .sec2-cat2 {
        width: 85%;
        height: 15vh;
    }
    .sec2-cot1-img {
        width: 45%;
    }
    .sec2-cat3 {
        width: 85%;
        height: 18vh;
    }
}