.section5{
    padding-bottom: 10rem;
}
.section5 h2 {
    margin-left: 5rem;
    font-size: 4rem;
    font-weight: 400;
    border-bottom: 4px solid #EBB5BB;
    width: fit-content;
    border-radius: 1px;
}
.sec5box-div{
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 10rem;
}
.sec5box{
    width: 40%;
    position: relative;
}
.sec5Img{
    position: absolute;
    width: 50%;
}
.sec5Img img{
    width: 80%;
}
.sec5cont1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    font-size: 2rem;
    padding: 1rem;
}
.sec5cont1 h4{
    background-color: #323233;
    color: white;
    padding: 0.5rem;
    font-weight: 400;
    border-radius: 5px 0px 5px 5px;
}
.sec5cont1 p{
    text-align: end;
    width: 55%;
    font-size: 1.5rem;
}
.sec5cont1 h5{
    color: #0C8877;
}
.sec5cont2{
    display: flex;
    justify-content: end;
    padding-top: 4rem;
    background-color: #52C0B21A;
    padding-bottom: 4rem;
    padding-right: 4rem;
}
.sec5cont2 button{
    background-color: #1A95CF;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
}
.sec5cont2-another button{
    background-color: #1A95CF;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
}
.sec5cont2-another{
    display: flex;
    justify-content: end;
    padding-top: 4rem;
    background-color: #EA827F1A;
    padding-bottom: 4rem;
    padding-right: 4rem;
}
.another-pp{
    background-color: #FC6565 !important;
}


@media only  screen and (width<=600px){
    .section5 h2 {
        margin-left: 3rem;
    }
    .sec5box-div {
        padding-left: 0rem;
        padding-right: 0rem;
        gap: 5rem;
        margin-top: 5rem;
        flex-direction: column;
        align-items: center;
    }
    .sec5box {
        width: 90%;
    }
}