.navtop{
    background-color:#FC6565;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    height: 15vh;
    padding-right: 5rem;
}
.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 65%;
}
.midlenav-links{
    gap: 3rem;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
.midlenav-links a{
    color: #0000007A;
}
.active{
    background-color: #FCEBA3;
    padding: 0.7rem;
    border-radius: 3rem;
    padding-left: 1rem;
    color: black;
    padding-right: 1rem;
}
.lastnav-link{
    font-size: 1.5rem;
    background-color: #FCEBA3;
    padding: 1rem;
    color: white;
}
.midlenav-links a:hover{
    scale: 1.05;
    transition: all;
}
.lastnav-link a{
    color: black;
}
.Profile-link .profile-icon{
    font-size: 2.5rem;
    background-color: #0000007A;;
    padding: 0.5rem;
    color: white;
    border-radius: 5rem;
}
