.clean-sec1 {
    background-color: #FFF7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clean-sec1-cont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    width: 37%;
}
.clean-sec1-cont a{
    background-color: #147AA9;
    color: white;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 8px;
    padding-right: 2rem;
    width: fit-content;
}
.clean-sec1-img{
    width: 50%;
}
.clean-sec1-img img{
    width: 100%;
}
.clean-sec2{
    background-color: #B0FFE82E;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.clean-sec2 h2{
    font-size: 2.5rem;
}
.clean-sec2 p{
    width: 50%;
    text-align: center;
    font-size: 2rem;
}
.clean-sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    gap: 2rem;
    flex-direction: column;
    padding-bottom: 4rem;
}
.clean-sec3 img{
    width: 70%;
}
.clean-sec3 h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #147AA9;
}
.clean-sec3 h2 span{
    font-weight: 400;
    color: #FC6565;
}
.clean-sec4{
    width: 100%;
    padding-bottom: 4rem;
}
.clean-sec4 img{
    width: 100%;
}
.clean-sec5{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
}
.clean-sec5-box1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.clean-sec5-box2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.clean-sec5-box1-cont{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.clean-sec5-box2-cont{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.clean-sec5-box1-cont h3{
    font-size: 2.5rem;
    color: #3A4453;
    font-weight: 500;
}
.clean-sec5-box2-cont h3{
    font-size: 2.5rem;
    color: #3A4453;
    font-weight: 500;
}
.clean-sec5-box1-cont p{
    width: 90%;
    font-weight: 400;
    color: #596171;
    font-size: 1.8rem;
}
.clean-sec5-box2-cont p{
    width: 100%;
    font-weight: 400;
    color: #596171;
    font-size: 1.8rem;
}
.clean-sec5-box1-img {
    width: 45%;
}
.clean-sec5-box1-img img{
    width: 100%;
}
.clean-sec6 {
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
.clean-sec6 h2{
    font-size: 3rem;
    color: #147AA9;
    font-weight: 500;
}
.clean-sec6 h2 span{
    color: #FC6565;
}
.clean-sec6 a{
    background-color: #147AA9;
    color: white;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 8px;
    padding-right: 2rem;
    font-size: 2rem;
    width: 20%;
    text-align: center;
}

.clean-sec7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #F1BAC0;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-top: 5rem;
    margin-bottom: 20rem;
}
.clean-sec7 h2 {
    font-size: 3.2rem;
    font-weight: 500;
    color: #FFFFFF;
}
.clean-sec7 h5 {
    font-size: 1.5rem;
    font-weight: 400;
}
.clean-sec7-Input{
    width: 40%;
    position: relative;
}
.clean-sec7-Input input {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: none;
}
.clean-sec7-Input button{
    position: absolute;
    right: 0rem;
    padding: 1rem;
    top: 2.5px;
    font-size: 1.5rem;
    border-radius: 2rem;
    background-color: #147AA9;
    color: white;
    border: none;
}