.Prod-detail-main{
    padding: 2rem 0rem 15rem 0rem;
    display: flex;
    justify-content: center;
}
.Prod-detail-box{
    display: flex;
    width: 70%;
    gap: 3rem;
    justify-content: center;
}
.prod-detail-img{
    width: 35%;
    height: 60vh;
}
.prod-detail-img img{
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 5px;
}
.Prod-detail-cont{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 3rem;
    padding-top: 4rem;
    font-size: 1.5rem;
}
.Prod-detail-cont h2{
    font-size: 3rem;
    font-weight: 600;
    color: #147AA9;
}
.Prod-detail-price{
    display: flex;
    gap: 2rem;
}
.Prod-detail-price h3{
    font-size: 2.5rem;
    padding: 0.8rem 0.6rem 0.6rem 0.6rem;
    border-radius: 1rem;
    color: white;
}
.Prod-detail-price :nth-child(1){
    background-color: #27B09ECC ;
}
.Prod-detail-price :nth-child(2){
    background-color:#E5635FCC ;
}
.Prod-detail-addtocart{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
.Prod-detail-addtocart button{
    font-size: 2rem;
    padding: 0.6rem 0.2rem 0.6rem 0.2rem;
    background-color: #147AA9;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.Prod-detail-addtocart :nth-child(2){
    background-color: #FCEBA3 !important;
    color: black !important;;
}