.section3{
    padding-bottom: 10rem;
    padding-top: 3rem;
}
.section3 h2 {
    margin-left: 5rem;
    font-size: 4rem;
    font-weight: 400;
    border-bottom: 4px solid #EBB5BB;
    width: fit-content;
    border-radius: 1px;
}
.section3-Img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.section3-Img video{
    width: 80%;
    border-radius: 1rem;
}
.section3-ContBox{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 8rem;
}
.sec3box{
    width: 24%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: -2px 2px 10px 6px rgb(0 0 0 / 25%), 0 6px 20px 0 rgba(0, 0, 0, .19);
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-items: center;
}
.sec3box:hover{
    scale:1.03;
    transition: all;
    cursor: pointer;
}
.sec3box-img{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3box-img img{
    width: 100%;
}
.secbox-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    gap: 2rem;
}
.secbox-cont h3{
    font-weight: 500;
    font-size: 3rem;
}
.secbox-cont p{
    text-align: center;
    font-weight: 300;
    font-size: 1.8rem;
}
.sec3btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}
.sec3btn button{
    background-color: #147AA9;
    color: white;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: -2px 1px 10px 7px rgb(0 0 0 / 26%), 0 6px 20px 0 rgba(0, 0, 0, .19);
    margin: auto;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    border: none;
}
.sec3btn button:hover
{
    scale: 1.02;
    transition: all;
}



@media only screen and (width<=600px) {
    .section3 h2 {
        margin-left: 3rem;
        font-size: 4rem;
    }
    .section3-Img video {
        width: 90%;
    }
    .section3-ContBox {
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }
    .sec3box {
        width: 80%;
    }
    .sec3btn {
        margin-top: 5rem;
    }
}